*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Baloo Paaji', cursive; 
    background-color: #ECF7FB;
}
/*----------header*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    position: absolute;
    z-index: 250;
    right: 13px;
}
header .navbar{
    background: #037F99;
    margin-bottom: 0;
}
.navbar-default .navbar-brand{
    color: #fff;
}
.navbar-default .navbar-brand span,section.the-tale article h4{
    color: #F67673;
}
.navbar-default .navbar-nav>li>a{
    color: #fff;
    font-family: 'Prompt', sans-serif;
    background: rgba(3, 127, 153,.6);
}
header .navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:active{
    background: rgba(255,255,255,.6);
}
header .fa{
    color: #fff;
}
/*-------END---header*/
/*----------section.banner*/
section.banner{
    position: relative;
    display: table;
}
section.banner video{ 
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
}
.text-banner{
    position: absolute;
    background: rgba(3, 127, 153,.6);
    color: #fff;
    text-align: center;
    padding-top: 20px;
    display: table-cell;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 100px;

}
.contenido-text-banner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.contenido-text-banner h2{
    color: #F67673;        
}
/*-------END---section.banner*/
/*----------section.the-tale*/
section.the-tale{
    border: solid 10px #fff;
    background: #fff;
}
section.the-tale article{
    background: #037F99;
} 
section.the-tale article p{
    color: #fff;
    padding: 0 10px;
}
/*-------END---section.the-tale*/
/*----------section.more-bunny*/
section.more-bunny {
    background: #037F99;    
}
section.more-bunny article{
        background-color: #ECF7FB;
}
section.more-bunny article h2{
    color: #F67673;
}
section.more-bunny article p,section.more-bunny article date{
    padding: 10px;
    margin: 0;
}
section.more-bunny iframe{
    width: 100%; 
    display: block;
} 
section.more-bunny input{
    border: solid 9px #ECF7FB;
    padding: 20px;
    margin-bottom: 10px;
}
.conejo-echado{
    margin-right: 0;
    width: 100%;
}
.list-inline>li{
    margin: 0 20px;
}
.box-icon-contact{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;   
    line-height: 50px;
}
/*-------END---section.more-bunny*/
/*----------section.imagen-conejo*/
section.imagen-conejo img{
    width: 80px;
    height: 80px;
}
section.imagen-conejo ul{
    padding: 0px;
    display: flex;
    overflow: hidden;
    list-style: none;
}
section.imagen-conejo li{
    margin: 0 26px;
}
/*-------END---section.imagen-conejo*/
/*-------END---section.imagen-conejo*/
footer{
    background: #037F99;
    border-top: solid 2px #F67673;
    padding: 30px 0;
    color: #fff;
}
/*-------END---section.imagen-conejo*/
/*------------CELULARES-----*/
@media screen and (max-width:767px){
.contenido-text-banner{
    margin: 15px;
}
.text-banner{
    margin: 34px;

}    
}
/*------------TABLET-----*/
@media screen and (min-width:768px) and (max-width:991px){
.contenido-text-banner{
    margin: 57px;
}   
}
/*------------DESKTOP-----*/
@media screen and (min-width:992px) and (max-width:1199px){
.contenido-text-banner{
    margin: 112px;
}     
.contenido-text-banner h2{
        font-size: 80px;        
    }   
}
/*------------DESKTOP LARGE-----*/
@media screen and (min-width:1200px){
.contenido-text-banner{
    margin: 140px;
}
    .contenido-text-banner h2{
        font-size: 92px;        
    }
}